@font-face {
    font-family: Lato;
    src: url(/Lato/lato-regular-webfont.woff2);
    font-weight: 400;
}
@font-face{
    font-family: Lato;
    src: url(/Lato/lato-bold-webfont.woff2);
    font-weight: 700;
}
@font-face{
    font-family: Lato;
    src: url(/Lato/lato-black-webfont.woff2);
    font-weight: 900;
}
@font-face {
    font-family: "Noto Serif";
    src: url(/Noto_Serif/NotoSerifCondensed-SemiBold.woff2);
    font-weight: 600;
}
@media (min-width: 390px){
  *{
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
a:link, a:visited { 
    text-decoration: none;
  }
  body{
    background-color: rgb(247, 247, 247);
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: rgb(0, 59, 74);
  }
  header nav{
    margin: 10px 5% 10px 5%;
    display: flex;
    justify-content: space-between;
  }
  .logoVital360{
    width: 115px;
  }
.separator {
    border-left: 3px solid rgb(0, 59, 74);
    height: 20px;
  }
  header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .navigationMenu{
    gap: 20px;
  }
  .navigationMenu li a {
    color: rgb(0, 59, 74);
    font-weight: 700;
    font-size: 17px;
  }
  .hero__image--home{
    background-image: url(/img/hero-image-home.jpg);
    background-size: 950px;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  #vital360Slogan{
    font-weight: 900;
    font-size: 43px;
    margin-left: 2%;
    margin-right: 2%;
  }
  main a:link, main a:visited{
    color: rgb(191, 12, 240);
    border-bottom: 1px dotted rgb(191, 12, 240)
  }
  .porQueVital360{
    margin: 45px 5% 45px 5%;
  }
  .articleTitle{
    font-family: "Noto Serif", sans-serif;
    font-size: 35px;
    margin-bottom: 45px;
  }
  .porQueVital360 p{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .indexFormulario{
    display: flex;
    flex-direction: column;
  }
  .indexFormulario input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px 5px 7px 5px;
    border-color: rgb(229, 225, 254);
    border-width: 1px;
    border-radius: 5px;
  }
  fieldset{
    border: none;
  }
  legend{
    opacity: 0;
  }
  .proteccionDatos{
    font-size: 12px;
  }
  .politicaPrivacidad{
    margin-left: 2%;
    font-size: 12px;
  }
  .index__articles{
    background-color: rgb(229, 225, 254);
    padding-bottom: 50px;
  }
  .index__article{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .index__articleInverted{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .index__article--img{
    width: 100%;
  }
  .index__article h2{
    font-family: "Noto Serif", sans-serif;
    font-size: 22px;
  }
  .index__article--photoCredit{
    text-align: end;
    font-size: 15px;
  }
  .index__article--description{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .subscribe{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 59, 74);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
  }
  .meInteresa {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 59, 74);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.meInteresa:link, .meInteresa:visited{
  color: rgb(255, 255, 255);
}
  footer{
    background-color: rgb(0, 59, 74);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    height: 40vh;
    color: rgb(255, 255, 255);
  }
  footer a{
    color: rgb(255, 255, 255);
  }
  footer ul li{
    margin-top: 13px;
    margin-bottom: 13px;
  }
}
  @media (min-width: 820px) {
    .indexFormulario{
      margin-right: 35%;
    }
    .proteccionDatos{
      margin-right: 35%;
    }
    .index__article{
      display: flex;
    }
    .index__articleInverted{
      display: flex;
      flex-direction: row-reverse;
    }
    .index__article--imgCredits{
      transform: rotate(-5deg);
      margin-right: 30px;
    }
    .index__article--imgCreditsInverted{
      transform: rotate(5deg);
      margin-left: 30px;
    }
    .index__article--img{
      width: 200px;
    }
  }
  @media (min-width: 1000px){
    a:hover{
      color: rgb(0, 59, 74);
    }
    main a:hover{
      color: rgb(0, 59, 74);
      border-bottom: 1px dotted rgb(0, 59, 74);
    }
    .navigationMenu li a:hover{
      color: rgb(191, 12, 240);
    }
    .hero__image--home{
      background-size: cover;
      background-position: center;
      padding-top: 200px;
      padding-bottom: 200px;
    }
    #vital360Slogan{
      margin-left: 22%;
      margin-right: 45%;
    }
    .porQueVital360{
      margin: 20px 22% 20px 22%;
    }
    .porQueVital360 p{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .porQueVital360__pc{
      font-size: 13px;
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
    .porQueVital360__pc > div {
      width: 50%;
  }
    .indexFormulario{
      margin-right: 0;
    }
    .proteccionDatos{
      font-size: 10px;
      margin-right: 0;
    }
    .politicaPrivacidad{
      font-size: 10px;
    }
    .indexFormulario input{
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 5px 5px 5px 5px;
    }
    .subscribe{
      padding: 5px 10px;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 10px;
    }
    .subscribe:hover{
      background-color: rgb(191, 12, 240);
    }
    .index__articles{
      padding-left: 22%;
      padding-right: 22%;
    }
    .index__article--photoCredit{
      font-size: 10px;
    }
    .meInteresa:hover{
      background-color: rgb(191, 12, 240);
    }
    footer a:hover{
      color: rgb(229, 225, 254);
    }
    .footer__socialMediaLogo:hover{
      opacity: 0.7;
    }
    footer{
      height: 15vh;
      font-size: 10px;
    }
    footer ul{
      display: flex;
      justify-content: space-between;
      text-align: end;
      width: 100%;
      margin-left: 5%;
      margin-right: 5%;
    }
    footer ul li{
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .textosLegales{
      display: flex;
      gap: 10px;
    }
    .logoVital360{
      width: 90px;
    }
    .logoAndCredits{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
