@font-face {
    font-family: Lato;
    src: url(/Lato/lato-regular-webfont.woff2);
    font-weight: 400;
}
@font-face{
    font-family: Lato;
    src: url(/Lato/lato-bold-webfont.woff2);
    font-weight: 700;
}
@font-face{
    font-family: Lato;
    src: url(/Lato/lato-black-webfont.woff2);
    font-weight: 900;
}
@font-face {
    font-family: "Noto Serif";
    src: url(/Noto_Serif/NotoSerifCondensed-SemiBold.woff2);
    font-weight: 600;
}
*{
    list-style: none;
    padding: 0;
    margin: 0;
  }
a:link, a:visited { 
    text-decoration: none;
  }
  a:hover{
    color: #a4f479;
  }
  body{
    background-color: rgb(247, 247, 247);
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: rgb(0, 59, 74);
  }
  header nav{
    margin: 10px 5% 10px 5%;
    display: flex;
    justify-content: space-between;
  }
  .logoVital360{
    width: 115px;
  }
.separator {
    border-left: 3px solid rgb(0, 59, 74);
    height: 20px;
  }
  
  /* Estilos para la lista */
  header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .navigationMenu{
    gap: 20px;
  }
  
  .navigationMenu li a {
    color: rgb(0, 59, 74);
    font-weight: 700;
    font-size: 17px;
  }
  .hero__image--home{
    background-image: url(/img/hero-image-home.jpg);
    background-size: 950px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  #vital360Slogan{
    font-weight: 900;
    font-size: 43px;
    margin-left: 2%;
    margin-right: 2%;
  }
  footer{
    background-color: rgb(0, 59, 74);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    height: 40vh;
    color: rgb(255, 255, 255);
  }
  footer a{
    color: rgb(255, 255, 255);
  }
  footer a:hover{
    color: rgb(229, 225, 254);
  }
  .footer__socialMediaLogo:hover{
    opacity: 70%;
  }
  footer ul li{
    margin-top: 13px;
    margin-bottom: 13px;
  }
